<DIV class="right">
  <!-- <a href="/main"></a> -->
  <%= link_to "", main_path %> 
</DIV>
<!-- search-->
<DIV class="banner">
  <DIV class="container_wrap">
    <H1>
      FOLLOWING FRIENDS
    </H1>

    <FORM action="/friends" method="get">
      <INPUT type="text" name="search" placeholder="find your friends">

      <DIV class="contact_btn">
        <LABEL class="btn1 btn-2 btn-2g">
	  <INPUT name="submit" type="submit" id="submit" value="Search" >
	</LABEL>
      </DIV>
    </FORM>    
  </DIV>
</DIV>



<% @users.each do |user| %>
  <% session[:user_id] %> 

  <% unless(session[:user_id] == user.id || !Relationship.where(follower_id: user.id).empty?) %>
    <%= form_tag '/friends', :method => 'POST' do %>
        <%= hidden_field_tag :user, user.id %>
      <BR />
        <DIV class="container">
	  <DIV class="col-lg-3">
	    <DIV class="content_middle_box">
	      <DIV class="inner_wrap1">
		<UL class="item_module">
		  <LI class="module_left">
		    <%= image_tag('m1.jpg', class: "img-responsive") %>
		  </LI>

		  <LI class="module_right">
		    <!--  <img src="/assets/m_star.png" class="img-responsive" alt=""/> -->
		    <H5>
		      <%= user.email %>
		    </H5>

		    <%= submit_tag "follow", class: "btn btn-danger" %>
		  </LI>

		  <DIV class="clear">
		  </DIV>
		</UL>
	      </DIV>
	    </DIV>
	  </DIV>
	</DIV>
    <% end %>
  <% end %>
<% end %>
