<%= form_tag '/friends', :method => 'get' do %>
  <%= text_field_tag :search, nil %>
  <%= submit_tag "search", :name => nil, :action => 'index' %>	
<% end %>

<P>
  Following friends
</P>

<% @users.each do |user| %>
  <% unless(session[:user_id] == user.id || !Relationship.where(follower_id: user.id).empty?) %>
    <%= form_tag '/friends', :method => 'POST' do %>
        <%= user.email %>
        <%= hidden_field_tag :user, user.id %>
        <%= submit_tag "follow" %>
      <BR />
    <% end %>
  <% end %>
<% end %>
