<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <script type="text/javascript">
    (function(document,navigator,standalone) {
      // prevents links from apps from oppening in mobile safari
      // this javascript must be the first script in your <head>
      if ((standalone in navigator) && navigator[standalone]) {
        var curnode, location=document.location, stop=/^(a|html)$/i;
        document.addEventListener('click', function(e) {
          curnode=e.target;
          while (!(stop).test(curnode.nodeName)) {
            curnode=curnode.parentNode;
          }
          // Condidions to do this only on links to your own app
          // if you want all links, use if('href' in curnode) instead.
          if(
            'href' in curnode && // is a link
            (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
            ( !(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
              chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
          ) {
            e.preventDefault();
            location.href = curnode.href;
          }
        },false);
      }
    })(document,window.navigator,'standalone');

    function findFriends(){   

     $.get(
        "<%= find_friend_path %>",
        {
          search: $("#searchItem").val()
        }     
    )  
    }

    function followFriends(user_id){

      $.get(
        "<%= follow_friend_path %>",
        {
          follower_id: <%=session[:user_id] %>,
          followed_id: user_id

        }
         
        )
      $("#friends").css("display", "none");
    }
 
</script>
<script>
      $('.lazy').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false
      });
</script>

<%= content_tag(:div, id: "page") do %>
  <%= content_tag(:div, id: "header_back") do %>
    <%= link_to "", main_path %>
  <% end %>
<% end %>

<!-- search-->
<DIV class="banner" style="height:80%">
  <DIV class="container_wrap">
    <H1>YOUR FRIENDS</H1>
    <FORM>
      <INPUT type="text" name="search" id="searchItem" placeholder="find your friends">
      <DIV class="contact_btn">
      <LABEL class="btn1 btn-2 btn-2g">
      <INPUT name="submit" type="submit" id="submit" value="Search" onclick="findFriends()">
      </LABEL>
      </DIV>
    </FORM>    
  </DIV>
</DIV>


<DIV class="lazy">
  <% @uploads.each do |image| %>
    <DIV class="inner_wrap" style="height: 500px;">
      <H4><%= image.name %></H4>
      <% @upload_id = image.id %>
      <H4 class="green"><%= image.rating %> stars</H4>
      <H4 id="<%= "like#{@upload_id}" %>"><%= Like.where(upload_id: @upload_id).count %> likes</H4>
      <H4 class="green"><%= image.description %></H4>
      <H4>Upload by <%= User.find(image.user_id).email %></H4>
      <IMG style="display: block; margin-left: auto; margin-right: auto;" data-lazy="<%= image_url(image.picture_url) %>">
    </DIV>  
  <% end %>
</DIV> 

<DIV id="friends">
  <% unless(@users.nil?) %>
    <% @users.each do |user| %>
      <DIV class="container">
        <DIV class="col-lg-3">
          <DIV class="content_middle_box">
            <DIV class="inner_wrap1">
              <UL class="item_module">
                <LI class="module_left"></LI>
                <LI class="module_right">
                  <H5><%= user.email %></H5>
                  <BUTTON type="submit" onclick="followFriends(<%= user.id %>)", class="btn btn-info">follow</BUTTON>
                </LI>
                <DIV class="clear">
                </DIV>
              </UL>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
    <% end %>
<% end %>
</DIV> 


 





