<div class="right">
  <!-- <a href="/main"></a> -->
  <%= link_to "", main_path %> 
</div>
<!-- search-->
<div class="banner">
     <div class="container_wrap">
      <h1>following friends</h1>

       <form action="/friends" method="get">
         <input type="text" name="search" placeholder="find your friends">
          <div class="contact_btn">
               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search" ></label>
          </div>
      </form>    

     </div>
</div>



<% @users.each do |user| %>
  <% session[:user_id] %> 
  <% unless(session[:user_id] == user.id || !Relationship.where(follower_id: user.id).empty?) %>
    <%= form_tag '/friends', :method => 'POST' do %>
        <%= hidden_field_tag :user, user.id %>
      <BR />



<div class="container">
  <div class="col-lg-3">
    <div class="content_middle_box">
      <div class="inner_wrap1">
          <ul class="item_module">
            <li class="module_left"><%= image_tag('m1.jpg', class: "img-responsive") %></li>
            <li class="module_right">
             <!--  <img src="/assets/m_star.png" class="img-responsive" alt=""/> -->
              <h5><%= user.email %></h5>
              <%= submit_tag "follow", class: "btn btn-danger" %>
            </li>
            <div class="clear"> </div>
           </ul>
      </div>
    </div>
  </div>
</div>

    <% end %>
  <% end %>
<% end %>

