<<<<<<< HEAD
<H1>
  Sign Up
</H1>

=======


<h1>Sign Up</h1>
>>>>>>> a8fef9f1acb3c450cd03076a6394928823729104
<%=form_for User.new do |f| %>
  <%=f.label :email %>
  <%=f.text_field :email %>
  <%=f.label :password %>
  <%=f.password_field :password %>
  <%=f.label :password_confirmation %>
  <%=f.password_field :password_confirmation %>
  <%=f.submit "Sign Up" %>
<%end%>
