<META name="apple-mobile-web-app-capable" content="yes">
<META name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<SCRIPT type="text/javascript">
  (function(document,navigator,standalone) {
    // prevents links from apps from oppening in mobile safari
    // this javascript must be the first script in your <head>
    if((standalone in navigator) && navigator[standalone]) {
      var curnode, location=document.location, stop=/^(a|html)$/i;
      document.addEventListener('click',
				function(e) {
                                  curnode = e.target;
                                  while(!(stop).test(curnode.nodeName)) {
                                    curnode=curnode.parentNode;
                                  }
                                  // Condidions to do this only on links to your own app
                                  // if you want all links, use if('href' in curnode) instead.
                                  if('href' in curnode && // is a link
				     (chref = curnode.href).replace(location.href, '').indexOf('#') && // is not an anchor
				     (!(/^[a-z\+\.\-]+:/i).test(chref) ||                              // either does not have a proper scheme (relative links)
				      chref.indexOf(location.protocol + '//' + location.host)===0)) {  // or is in the same protocol and domain
				    e.preventDefault();
				    location.href = curnode.href;
				  }
                                },
				false);
    }
  })(document,window.navigator,'standalone');
</SCRIPT>

<SCRIPT src="https://maps.googleapis.com/maps/api/js"></SCRIPT>
<SCRIPT>
  navigator.geolocation.getCurrentPosition(geocodedAddress);

  function showRestaurantLocation(img_id){
    var img_id = img_id;

    var mapCanvas = document.getElementById('showRestaurant' + img_id);

    var image = 'assets/marker-3ccb249568eec97cc32c37c01d0a8cae.png';
    var latlng = new google.maps.LatLng(42.3654347, -71.258595);
    var mapOptions = { center: latlng,
		       zoom: 14,
		       mapTypeId: google.maps.MapTypeId.ROADMAP
		     }

    window.map = new google.maps.Map(mapCanvas, mapOptions)

    var marker = new google.maps.Marker({ position: latlng,
					  title: "You are here",
					  icon: image
					});

    resLatlng = $("#latlng" + img_id).val().split(',');
    var resMapLatLng = new google.maps.LatLng(resLatlng[0],resLatlng[1]);

    var bounds = new google.maps.LatLngBounds();
    bounds.extend(resMapLatLng);

    var marker1 = new google.maps.Marker({ position: resMapLatLng,
					   title: "restaurant",
					   map: window.map })

    marker.setMap(window.map);

    $("#showRestaurant" + img_id).css('display', 'block');
    // document.getElementById("showRestaurant"+ img_id).style.display = 'block'; 
  }

  function like(user_id, img_id, like_count) {
    $.get("<%= like_count_path %>",
          { user_id: user_id,
            upload_id: img_id },
          addLike)                  
  }


  function addLike(data) {
    var img_id = data.img_id;

    $("#like" + img_id).text((data.like).toString().concat(" Likes"));
    $("#likeButton" + img_id).css('display', 'none');
  }

  function geocodedAddress(position) {
    var geo = document.getElementById("geo");
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(lat, lng);

    geocoder.geocode({'latLng': latlng},
		     function(results, status) {
                       if(status == google.maps.GeocoderStatus.OK) {
                         if(results[1]) {
                           addr = results[1].formatted_address;
                           current_lcoation = results[1].formatted_address.split(",");
                           geo.innerHTML = current_lcoation[0] + current_lcoation[1];
                           $.ajax({ url: "<%= address_path %>", 
				    data: { addr: addr } }).done(function(data) {
                                                                   // alert(data.response);
                                                                 });
                         } else {
                           alert('No results found');
                         }
                       } else {
                         alert('Geocoder failed due to: ' + status);
                       }
                     });
  }

  function addComments(user_id, upload_id) {
    $.get("<%= new_comment_path %>",  
          { user_id: user_id,
            upload_id: upload_id,
            description: $("#description" + upload_id).val() },
          showComment)                  
  }

  function showComment(data) {
    var img_id = data.upload_id;
    $("#comment" + img_id).append('<h5>' + data.user_name + '</h5>' +' <p>' + data.description + 
      '</p>')
  }
</SCRIPT>
<SCRIPT>
  $(function() {
      $('nav#menu').mmenu();

      $('#category').change(function() {
                              this.form.submit();
                            });
    });
</SCRIPT>

<DIV class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- header -->
  <DIV class="right">
    <!-- <a href="/maps"></a>  -->
    <%= link_to "", geo_path %>
  </DIV>

  <DIV id="page">
    <DIV id="header_nav">
      <A href="#menu">
      </A>
    </DIV>

    <NAV id="menu">
      <UL>
        <LI class="Selected">
	  <A href="#">
	  </A>
	</LI>

      

        <LI>
	  <A href="<%= '/personal/'+session[:user_id].to_s %>">
            Personal Page
	  </A>
	</LI>
    <LI>
    <A href="/friends">
            Friends
    </A>
  </LI>

      
      </UL>
    </NAV>
  </DIV>

  <!-- SEARCH-->
  <%= content_tag(:div, class: "banner", style: "height: 100px;") do %>
    <DIV class="row">
      <FORM action="/main" method="get">
        <DIV class="dropdown-buttons">   
          <DIV class="dropdown-button">                   
            <SELECT id ="category" name="category" class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
              <OPTION>
		By Catogory (nearest..)
              </OPTION>

              <OPTION value="find the nearst dishes">
		find the nearest dishes
              </OPTION>

              <OPTION value="find the best dishes">
		find the best dishes
              </OPTION>

              <OPTION value="find the latest dishes">
		find the latest dishes
              </OPTION>
            </SELECT>
          </DIV>
        </DIV>

        <INPUT type="text" name="search" placeholder="Find dishes">

        <DIV class="contact_btn">
          <LABEL class="btn1 btn-2 btn-2g">
	    <INPUT name="submit" type="submit" id="submit" value="Search">
	  </LABEL>
        </DIV>
      </FORM>              
    </DIV>
  <% end %>
</DIV>

<!-- need to see if @user_id = upload.user_id is a good idea -->

<!-- slider with food's name, image-->
<DIV class="content_middle" style="margin-top:150px">
  <DIV class="col-lg-3" style="text-align: left;">
    <DIV class="lazy">
      <% @upload_search.each do |upload| %>
        <DIV class="inner_wrap">
          <H4>
	    <%= upload[0].name %>
	  </H4>

          <% @upload_id =  upload[0].id %>

          <H4 class="green">
            <%= upload[0].description %>
	  </H4>

          <IMG style="display: block; margin-left: auto; margin-right: auto;" data-lazy="<%= image_url upload[0].picture_url %>">

          <H4>
            <H4 class="green">
	        <%= upload[1] %> miles away
	      <BR />
	        <DIV class="star_icon">
          <% (1..upload[0].rating).each do |i| %>
            <%= image_tag "starRating.png" %>
          <% end %>
          </DIV>
	    </H4>

	    <H4 id="<%= "like#{@upload_id}" %>">
	      <%= upload[5] %>  likes
	    </H4>

            Uploaded By: <%= link_to "@#{User.find(upload[0].user_id).email}", "/personal/#{upload[0].user_id}" %>
	  </H4>

          <DIV class="row">
            <% if Like.find_by(user_id: session[:user_id], upload_id: @upload_id) == nil %>
               <BUTTON class="btn btn-default btn-lg" id="<%= "likeButton#{@upload_id}" %>" onclick="like(<%= session[:user_id] %>, <%= @upload_id %>, <%= upload[5] %>, <%= @upload_id %>)">
	           <SPAN class="glyphicon glyphicon-heart" aria-hidden="true">
	            </SPAN>
               </BUTTON>


            <INPUT type="hidden" name="upload_id" id="upload_id" value="<%=@upload_id%>">
              <% end %>  
          </DIV>




	  

          <DIV style="text-align:left;"><STRONG>Comments</STRONG>
            <DIV id="<%="comment#{@upload_id}"%>">
              <!-- show comments -->
      	      <% upload[4].each do |comment| %>
                      <H5><%= link_to "@"+comment[0].to_s, "/personal/#{upload[0].user_id}" %></H5>
                      <P><%= comment[1] %></P>
      	      <% end %>
            </DIV>
          </DIV>


    <!-- add comments-->
    <FORM onsubmit="addComments(<%=session[:user_id]%>, <%=@upload_id%>); return false;">
      <INPUT type="text" id="<%="description#{@upload_id}"%>" name="description" placeholder="add comments" class="form-control">


              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <BR />
      <BUTTON name="submit" type="submit" id="submit" value="submit" class="btn btn-primary btn-sm" >Submit</BUTTON>
      <INPUT type="hidden" name="upload_id" value="<%=@upload_id%>">
      <INPUT type="hidden" name="user_id" value="<%=session[:user_id]%>">
    </FORM>  



	  <!-- restaurant info -->
	  <DIV class="col-lg-3" style="text-align: left;">
            <BR />
	      <STRONG> 
		<P id = "restr-info" >
		  Restaraunt Info:
		</P>
	      </STRONG>

              <H4 class="green">
		<%= upload[2] %>

		<IMG src="<%= upload[6] %>" />
	      </H4>
	   
              <P>
		<H4 class="green">
		  <%= upload[3] %>
		</H4>

		<A id ="linkyelp" href="<%= upload[7] %>">
		  Yelp! Page
		</A>
	      </P>
    </BR>    
    <A id ="linkyelp" onclick="showRestaurantLocation(<%=@upload_id%>)">
      Show on Map
    </A>


              <!-- SHOW restaurant in the map -->
              <DIV id="<%= "showRestaurant#{@upload_id}" %>" style="height:400px; display:none">
              </DIV>
	  </DIV>

	  <INPUT type="hidden" name="latlng" id='<%= "latlng#{@upload_id}" %>' value="<%= upload[8] %>" />

	  <DIV style="height:50px;">
	  </DIV>
	</DIV>
      <% end %>
    </DIV>
  </DIV>
</DIV>

<!--upload-->
<DIV class="navbar navbar-default navbar-fixed-bottom", role="navigation", style="background-color: #3498DB">
  <DIV class="container">
    <DIV class="row">
      <P id="geo" style="position:absolute; bottom: 15px;">
      </P>

      <DIV class="pull-right" style="margin-right: 20px;">
	<DIV class="camera">
	  <A href="/uploads/new" type="button" >
            <%= image_tag('camera_png.png') %>
	  </A>
	</DIV>
      </DIV>  
    </DIV>
  </DIV>
</DIV>
