<SCRIPT src="https://maps.googleapis.com/maps/api/js"></SCRIPT>
<SCRIPT>
  navigator.geolocation.getCurrentPosition(geocodedAddress);

  function geocodedAddress(position){
    var geo = document.getElementById("geo");
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(lat, lng);

    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
        if(results[1]) {
          addr = results[1].formatted_address;
          current_lcoation = results[1].formatted_address.split(",");
          geo.innerHTML = current_lcoation[0] + current_lcoation[1];
          $.ajax({ url: "<%= address_path %>", 
                   data: { addr: addr } }).done(function(data) {
                                                  // alert(data.response);
                                                });
        } else {
          alert('No results found');
        }
      } else {
        alert('Geocoder failed due to: ' + status);
      }
    });
  }
</SCRIPT>
<SCRIPT>
  $(function() {
    $('nav#menu').mmenu();

    $('#category').change(function() {
      this.form.submit();
    });
 });
</SCRIPT>

<DIV class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- header -->
  <DIV class="right">
    <!-- <a href="/maps"></a>  -->
    <%= link_to "", geo_path %>
  </DIV>

  <DIV id="page">
    <DIV id="header_nav">
      <A href="#menu">
      </A>
    </DIV>

    <NAV id="menu">
      <UL>
        <LI class="Selected">
	  <A href="#">
	  </A>
	</LI>

        <LI>
	  <A href="/friends">
	    Searching Friends
	  </A>
	</LI>

        <LI>
	  <A href="/personal">
	    Personal Page
	  </A>
	</LI>
        </UL>
     </NAV>
  </DIV>

  <!-- search-->
  <DIV class="banner" style="height: 100px;">
    <DIV class="row">
      <FORM action="/main" method="get">
        <DIV class="dropdown-buttons">   
          <DIV class="dropdown-button">                   
            <SELECT id ="category" name="category" class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
              <OPTION>
		By Catogory(nearest..)
	      </OPTION>

              <OPTION value="find the nearst dishes">
		find the nearst dishes
	      </OPTION>

              <OPTION value="find the best dishes">
		find the best dishes
	      </OPTION>

              <OPTION value="find the latest dishes">
		find the latest dishes
	      </OPTION>
            </SELECT>
          </DIV>
        </DIV>

        <INPUT type="text" name="search" placeholder="Find dishes">

        <DIV class="contact_btn">
          <LABEL class="btn1 btn-2 btn-2g">
	    <INPUT name="submit" type="submit" id="submit" value="Search" >
	  </LABEL>
        </DIV>
      </FORM>              
    </DIV>
  </DIV>
</DIV>

<!-- need to see if @user_id = upload.user_id is a good idea -->

<!-- slider with food's name, image-->
<DIV class="content_middle" style="margin-top:150px">
  <DIV class="col-lg-3" style="text-align: left;">
    <DIV class="lazy">
      <% @upload_search.each do |upload| %>
        <DIV class="inner_wrap">
          <H4>
	    <%= upload[0].name %>
	  </H4>

          <% @upload_id =  upload[0].id %>
            <H4 class="green">
	      <%= upload[1] %> miles <%= upload[0].rating %> stars
	    </H4>
          
            <H4>
	      <%= upload[5] %>   likes
	    </H4>

            <H4 class="green">
	      <%= upload[0].description %>
	    </H4>

            <IMG style="display: block; margin-left: auto; margin-right: auto;" data-lazy =<%= image_url upload[0].picture_url %>><BR>

            <DIV class="row">
              <!-- dont like the food  -->
              <% if(dislike_id = Like.find_by(user_id: session[:user_id], upload_id: @upload_id)) %>
		<FORM action="dislike" method="post" >
		  <BUTTON type="submit" class="btn btn-default btn-lg" style="background-color: red">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                    <INPUT type="hidden" name="id" value= <%= dislike_id.id %> >

                    <SPAN class="glyphicon glyphicon-remove-sign" aria-hidden="true">
                    </SPAN>
		  </BUTTON>
		</FORM>
	      <% else %>
		<!-- like the food -->
		<FORM action="like" method="post" >
		  <BUTTON type="submit" class="btn btn-default btn-lg" style="background-color: #87D37C">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                    <INPUT type="hidden" name="upload_id" value= <%=@upload_id%> >
                    <INPUT type="hidden" name="user_id" value= <%=session[:user_id]%> >
                
                    <SPAN class="glyphicon glyphicon-heart" aria-hidden="true">
                    </SPAN>
		  </BUTTON>
		</FORM>
	      <% end %>
	    </DIV>

	    <H4>
	      Uploaded By: <%= link_to "@#{User.find(upload[0].user_id).email}", { action: 'show', id: upload[0].user_id, controller: 'users' }, { class: 'users' } %>
	    </H4>

            <DIV style="text-align:left;">
                <STRONG>
		  Comments
		</STRONG>
	      <BR />
                <!-- show comments -->
		<% upload[4].each do |comment| %>
		  <BR />
		    <DIV class="inner_wrap1" >
		      <UL class="item_module">
			<LI class="module_left"><IMG src="/assets/m1.jpg" class="img-responsive" alt=""/>
			</LI>

			<LI class="module_right">
			  <!--               <img src="/assets/m_star.png" class="img-responsive" alt=""/> -->
			  <H5>
			    <%= comment[0] %>
			  </H5>

			  <P>
			    <%= comment[1] %>
			  </P>
			</LI>

			<DIV class="clear">
			</DIV>
		      </UL>
		    </DIV>
		<% end %>
	    </DIV>

	    <!-- add comments-->

            <FORM action="comment" method="post">
              <INPUT type="text" name="description" placeholder="add comments">

              <DIV class="contact_btn">
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                <LABEL class="btn1 btn-2 btn-2g">
		  <INPUT name="submit" type="submit" id="submit" value="submit">
		</LABEL>
              </DIV>

              <INPUT type="hidden" name="upload_id" value= <%=@upload_id%> >

              <INPUT type="hidden" name="user_id" value= <%=session[:user_id]%> >
            </FORM>              

	    <!-- restaurant info -->

	    <DIV class="col-lg-3" style="text-align: left;">
	      <BR />
                <STRONG>
		  About the Place
		</STRONG>
	      <BR />
                <P>
		  Restaurants:
		</P>
	      <BR />
                <H4 class="green">
		  <%= upload[2] %><IMG src=<%= upload[6] %> />
		</H4>
	      <BR />
                <P>
		  Location:
		</P>
	      <BR />
                <H4 class="green">
		  <%= upload[3] %>
		</H4>
	    </DIV>

	    <DIV style="height:50px;">
	    </DIV>
	</DIV>
      <% end %>
    </DIV>
  </DIV>
</DIV>

<!--upload-->

<DIV class="navbar navbar-default navbar-fixed-bottom", role="navigation", style="background-color: #3498DB">
  <DIV class="container">
    <DIV class="row">
      <P id="geo" style="position:absolute; bottom: 15px;">
      </P>

      <DIV class="pull-right" style="margin-right: 20px;">
	<DIV class="upload">
	  <A href="/uploads/new" type="button" >
            <IMG src="assets/upload.png" />
	  </A>
	</DIV>
      </DIV>	
    </DIV>
  </DIV>
</DIV>
