<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    navigator.geolocation.getCurrentPosition(geocodedAddress);
    function geocodedAddress(position){
  		var geo = document.getElementById("geo");
  		var lat = position.coords.latitude;
  		var lng = position.coords.longitude;

     $.ajax({
          url: "<%= location_path %>", 
          data: {
            lat: lat,
            lng: lng
          }
      }).done(function(data) {
        // alert(data.response);
      });

  		var geocoder = new google.maps.Geocoder();
  		var latlng = new google.maps.LatLng(lat, lng);

  		geocoder.geocode({'latLng': latlng}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		      if (results[1]) {
            addr = results[1].formatted_address;
		      	geo.innerHTML = (results[1].formatted_address);
            $.ajax({
                url: "<%= address_path %>", 
                data: {
                  addr: addr
                }
            }).done(function(data) {
              // alert(data.response);
            });
		      } else {
		        alert('No results found');
		      }
		    } else {
		      alert('Geocoder failed due to: ' + status);
		    }
		  });
     }




</script>

<script type="text/javascript">
      $(function() {
         $('nav#menu').mmenu();
      });
</script>

<!-- header -->
<div class="right">
  <a href="/maps"></a> 
</div>
<div id="page">
   <div id="header_nav">
      <a href="#menu"></a>
   </div>
    <nav id="menu">
      <ul>
         <li class="Selected"><a href="#"></a></li>
         <li><a href="/friends">Following Friends</a></li>
         <li><a href="#">Personal Page</a></li>
         <li><a href="#">Entertainment</a></li>
      </ul>
   </nav>
</div>

<!-- search-->
<div class="banner">
     <div class="container_wrap">
      <h1>F-SPOT</h1>
       <form action="/main" method="get">
          <div class="dropdown-buttons">   
            <div class="dropdown-button">                   
               <select name="foodCatogory" class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
               <option value="0">Food Catogory</option>  
               <option value="pizze">Pizza</option>
               <option value="burger">Burger</option>
               <option value="salad">Salad</option>
               <option value="chinese food">Chinese Food</option>
               <option value="cake">Cake</option>
               </select>
            </div>
             <div class="dropdown-button">
              <select name="place" class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
               <option value="0">Place</option> 
               <option value="1">Boston</option>
               <option value="2">New York</option>
              </select>
            </div>
         </div>
         <input type="text" name="search" placeholder="food, place, entertainment..">
          <div class="contact_btn">
               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
          </div>
      </form>              
     </div>
</div>
<!-- need to see if @user_id = upload.user_id is a good idea -->
<!-- slider with food's name, image-->
<div class="content_middle">
  <div class="container">
    <div class="content_middle_box">
        <div class="col-lg-3">
          <div class="lazy">
            <% @uploads.each do |upload| %>
            <div class="inner_wrap">
              <h1><%= upload.name %></h1>
                  <% @upload_id =  upload.id %>
              <h4>Uploaded By: @<%=User.find(upload.user_id).email %></h4><br>
              <h4 class="green"><%= upload.description %></h4>
              <img data-lazy =<%= image_url upload.picture_url %>><br>
            <!-- like the food or dislike -->
<div class="content_middle">
  <div class="container">
    <div class="content_middle_box">
        <div class="col-lg-3">
          
          <div class="button-group" style="margin-left:25%;">
            <form action="like" method="post">
            <button type="submit" class="btn btn-default btn-lg">
               <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
              <input type="hidden" name="upload_id" value= <%=@upload_id%> >
              <input type="hidden" name="user_id" value= <%=session[:user_id]%> >
              
              <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">

              </span>
            </button>
            </form>
            <button type="button" class="btn btn-default btn-lg " >
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg " >
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- add comments-->

            <div class="banner" >
            <div class="container_wrap">
            <form action="comment" method="post">
            <input type="text" name="description" placeholder="add comments">
            <div class="contact_btn">
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="submit"></label>
          </div>
          <input type="hidden" name="upload_id" value= <%=@upload_id%> >
          <input type="hidden" name="user_id" value= <%=session[:user_id]%> >
          </form>              
     </div>
</div>
            </div>
            <% end %>

            </div>
        </div>
    </div>
  </div>
</div>







<!-- show comments-->
<div class="container">
  <div class="col-lg-3">
      <div class="inner_wrap1">
          <ul class="item_module">
            <li class="module_left"><img src="/assets/m1.jpg" class="img-responsive" alt=""/></li>
            <li class="module_right">
              <img src="/assets/m_star.png" class="img-responsive" alt=""/>
              <h5>Jane</h5>
              <p>"I like it"</p>

            </li>
            <div class="clear"> </div>
           </ul>
      </div>
  </div>
</div>


<!--upload-->
<div class="navbar navbar-default", role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<p id="geo"></p>
			</div>
			<div class="col-lg-6">
				<div class="upload">
				  <a href="/uploads/new" type="button" class="btn btn-default btn-lg pull-right">
				  	<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
				  </a>
				</div>
			</div>	
		</div>
	</div>
</div>





