<META name="apple-mobile-web-app-capable" content="yes">
<META name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<SCRIPT type="text/javascript">
  (function(document,navigator,standalone) {
    // prevents links from apps from oppening in mobile safari
    // this javascript must be the first script in your <head>
    if((standalone in navigator) && navigator[standalone]) {
      var curnode, location=document.location, stop=/^(a|html)$/i;
      document.addEventListener('click',
				function(e) {
                                  curnode=e.target;

                                  while (!(stop).test(curnode.nodeName)) {
                                    curnode=curnode.parentNode;
                                  }

                                  // Condidions to do this only on links to your own app
                                  // if you want all links, use if('href' in curnode) instead.
                                  if('href' in curnode && // is a link
				     (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
				     (!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
				      chref.indexOf(location.protocol + '//' + location.host)===0)) { // or is in the same protocol and domain
                                    e.preventDefault();
                                    location.href = curnode.href;
				  }
                                },
				false);
    }
  })(document,window.navigator,'standalone');
</SCRIPT>

<!-- Page Header -->
<%= render 'personal/header' %>

<%= content_tag(:div, id: "page") do %>
  <%= content_tag(:div, id: "header_back", style: "top: 20%;") do %>
    <%= link_to "", main_path %>
  <% end %>
<% end %>

<H1>
  User: <%= params[:id] %>
</H1>

<% user = User.find(params[:id])%>

<% if(params[:id] != user.email) %>
  <% array = Upload.where(user_id: params[:id]) %>

  <DIV class="lazy">
    <% array.each do |a| %>
        <IMG style="display: block; margin-left: auto; margin-right: auto; padding-right: 1%; padding-left: 1%;" src="<%= image_url(a.picture_url) %>">
      <BR />
    <% end %>
  </DIV>
<% end %>
