<SCRIPT>
  function readURL(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
	  .attr('src', e.target.result)
	  .width(500)
	  .height(500);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</SCRIPT>

<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <DIV id="error_explanation">
      <H2>
	<%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:
      </H2>

      <UL>
	<% @upload.errors.full_messages.each do |msg| %>
          <LI>
	    <%= msg %>
	  </LI>
	<% end %>
      </UL>
    </DIV>
  <% end %>

  <DIV class="field">
      <%= f.label :name %>
    <BR />
      <%= f.text_field :name %>
  </DIV>

  <DIV class="field">
      <%= f.label :description %>
    <BR />
      <%= f.text_area :description %>
  </DIV>

  <DIV class="upload">
      <%= f.label :picture %>
    <BR />
      <%= f.file_field :picture, accept: 'image/jpeg', :onchange => "readURL(this);" %>

      <IMG id="img_prev" src="#" alt="your image" />

      <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </DIV>

  <DIV class="actions">
    <%= f.submit %>
  </DIV>
<% end %>
