<SCRIPT>
  function readURL(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
	  .attr('src', e.target.result)
	  .width(200)
	  .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</SCRIPT>


<div id="pictureInfo">
<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <DIV id="error_explanation">
      <H2>
	<%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:
      </H2>

      <UL>
	<% @upload.errors.full_messages.each do |msg| %>
          <LI>
	    <%= msg %>
	  </LI>
	<% end %>
      </UL>
    </DIV>
  <% end %>

  <div class="container">
      <div class="col-lg-3">
          <div class="inner_wrap1">
              <DIV class="field">
                  <h3><%= f.label :name %></h3>
                <BR />
                  <%= f.text_field :name,  class: "form-control" %>
              </DIV>

              <DIV class="field">
                <h3><%= f.label :description %></h3>
              <BR />
                <%= f.text_area :description, class: "form-control" %>
              </DIV>


            <DIV class="upload">
                <%= f.label :picture %>
              <BR />
                <%= f.file_field :picture, accept: 'image/jpeg', :onchange => "readURL(this);" %>

                <IMG id="img_prev" src="#" alt="your image" />

                <%= f.hidden_field :user_id, :value => session[:user_id] %>
                <br>                
            </DIV>

            <div id="findLocaiton">
              <div class="container" >
              <div class="row">
                <img src="/assets/search1.png" ><%= link_to 'Add your location', add_location_path %></img>
              </div>
            </div>
            </div>

          </br>

            <DIV class="actions">
              <%= f.submit :class => "btn btn-info" %>
            </DIV>
          </div>
      </div>
  </div>

<% end %>
</div>

<script>
 $( "#findLocaiton" ).click(function() {
        var itemType = $('#upload_name').val(); 
        $.ajax({   
            url : "<%= name_location_path %>",  
            data : {
              itemType: itemType
            },  
            success:function(data){                
            },  
            error: function() {  
            }  
        });  
    });
</script>

