
<SCRIPT>

  function readURL(input) {
    if(input.files && input.files[0]) {
      document.getElementById('img_prev').style.backgroundImage="url('"+URL.createObjectURL(input.files[0])+"')";
    }
  }
  
  




</SCRIPT>



<div id="pictureInfo">
<%= form_for(@upload) do |f| %>
  <% if @upload.errors.any? %>
    <DIV id="error_explanation">
      <H2>
	<%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:
      </H2>

      <UL>
	<% @upload.errors.full_messages.each do |msg| %>
          <LI>
	    <%= msg %>
	  </LI>
	<% end %>
      </UL>
    </DIV>
  <% end %>

  <div class="container">
      <div class="col-lg-3">
          <div class="inner_wrap1">
              <DIV class="field" >
                  <h3><%= f.label :name %></h3>
                <BR />
                  <%= f.text_field :name,  class: "form-control" %>
              </DIV>

              <DIV class="field">
                <h3><%= f.label :description %></h3>
              <BR />

                <%= f.text_field :description, class: "form-control" %>
              </DIV>

              <DIV class="field">
                <%= f.hidden_field :location %>
              </DIV>

              <DIV class="field">
                <%= f.hidden_field :geo_location %>
              </DIV>

              <DIV class="field">
                <H3>
		  <%= f.label :rating %>
		</H3>
              <BR />
                <SPAN class="starRating">
                    <INPUT id="rating5" type="radio" name="rating" value="5">
                    <LABEL for="rating5">5</LABEL>
                    <INPUT id="rating4" type="radio" name="rating" value="4">
                    <LABEL for="rating4">4</LABEL>
                    <INPUT id="rating3" type="radio" name="rating" value="3">
                    <LABEL for="rating3">3</LABEL>
                    <INPUT id="rating2" type="radio" name="rating" value="2">
                    <LABEL for="rating2">2</LABEL>
                    <INPUT id="rating1" type="radio" name="rating" value="1">
                    <LABEL for="rating1">1</LABEL>
                </SPAN>
              </DIV>


              <INPUT type="hidden" name="phone" id="phone" >
              <INPUT type="hidden" name="rating_img" id="rating_img"> 


<!-- 

              <div class="form-group">
                 <h3>Restaurants</h3>
                 <select id="restaurant" name="restaurant_name" class="form-control" >
                 </select>
              </div> -->

              <div class="ui-widget">
                <h3 for="tags">Restaurants: </h3>
                <input id="restaurant" name="restaurant_name" class="form-control">
              </div>
              <div id="someRestaurant" >
       
              </div>



 
              <DIV class="upload">
                  <%= f.label :picture %>
                <BR />
                  <%= f.file_field :picture, accept: 'image/jpeg', :onchange => "readURL(this);" %>

		  <DIV id="img_prev" src="#" style="background-size: cover; background-position: center center; height: 300px; width: 300px;">
		  </DIV>

                  <%= f.hidden_field :user_id, :value => session[:user_id] %>
                <BR />                
              </DIV>

              <DIV class="actions">
                <%= f.submit :class => "btn btn-info"  %>

          </div>
      </div>
  </div>

<% end %>
</div>


